<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 i18n="@@ContentHeader" class="mx-auto my-0 text-uppercase">Aviation</h1>
        <h2 i18n="@@ContentText" class="text-white-50 mx-auto mt-2 mb-5">You can simply calculate your carbon footprint of your flights and offset them using our simple tool.</h2>
        <a i18n="@@ContentStartHere" class="btn btn-primary js-scroll-trigger" routerLink="/flight-calculator">Start here</a>
      </div>
    </div>
  </header>
