<section id="calcWrapper" class="about-section text-center pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-white" id="pageWrapper">

        <div id="page2" class="mx-auto h-100 text-center mt-2 pb-5">

          <div id="results" class="text-center mx-auto mt-3 mb-5">
            <div class="border my-3 p-3">
              <div class="text-center" [hidden]="!emission">
                <div>
                  <fa-icon class="mx-1" [icon]="faPlane"></fa-icon>
                  <span *ngFor="let unit of emissionUnits">
                    <fa-icon class="mx-1" [icon]="faCloud"></fa-icon>
                  </span>
                  <fa-icon class="mx-1" [icon]="faPlane"></fa-icon>
                </div>
                <h4 i18n="@@TotalEmission">Total CO2 emission</h4>
                <div class="display-4">
                  <span [countUp]="emission" [options]="{duration: 1}">0</span>
                </div>
                <h4>kg</h4>
              </div>
            </div>
          </div>
          <div id="extraQuestions" class="form-group mx-auto text-left my-4">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label for="peopleCount" class="col-form-label">
                  <fa-icon class="mr-1" [icon]="faUsers"></fa-icon><span i18n="@@PassengerCount">How many
                    passengers?</span>
                </label>
              </div>
              <div class="col-auto">
                <rating id="ratings" [max]="10" [(ngModel)]="peopleCount" [customTemplate]="t" (click)="onTripParameterChange()"
                  (keyup)="onTripParameterChange()"></rating>
                <ng-template #t let-index="index" let-value="value" class="no-outline">
                  <fa-icon [icon]="index < value ? faUser : faUser" class="{{index < value ? 'white': 'gray'}}">
                  </fa-icon>
                </ng-template>
              </div>
            </div>
            <div class="form-group my-3">
              <label class="form-check-label" for="business">
                <fa-icon class="mr-1" [icon]="faBriefcase"></fa-icon><span i18n="@@IsBusinessTrip">Business class</span>
              </label>
              <input type="checkbox" class="form-check-input" id="business" [(ngModel)]="isBusinessTrip"
                (change)="onTripParameterChange()">
            </div>
          </div>

          <div class="text-center mx-auto my-5">
            <button [routerLink]="['/calculate-trees/', emission]" class="btn btn-lg btn-primary" *ngIf="locale === 'en-US'">
              <ng-container i18n="@@CalculateOffset">Calculate offset</ng-container>
            </button>
          </div>

          <div class="text-center mx-auto my-5">
            <button [routerLink]="['/agac-hesapla/', emission]" class="btn btn-lg btn-primary" *ngIf="locale === 'tr'">
              <ng-container i18n="@@CalculateOffset">Calculate offset</ng-container>
            </button>
          </div>

          <div class="text-center mx-auto my-3" *ngIf="this.locale === 'tr'">
            <a [routerLink]="['/kuresel-isinma']"
              fragment="karbondioksit-salinimi-telafi-icin-gereken-agac-sayisi">Uçuşların karbondioksit salımı ve
              telafi için gereken ağaç sayısı nasıl
              hesaplanıyor?</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
