<div class="border mx-auto my-3 p-3">
  <div class="text-center">
    <h4 i18n="@@ToOffset">To offset this amount you need</h4>
    <div class="display-2" style="color: greenyellow">
        <span [countUp]="treesToDonate" (complete)="treesCounted = true">0</span>
    </div>
    <h4 i18n="@@Trees">trees</h4>
    <div>
      <span *ngFor="let unit of treeUnits">
        <fa-icon class="mx-1 your-tree" [icon]="faTree"></fa-icon>
      </span>
    </div>
  </div>
</div>
<div class="text-center mx-auto my-5">
  <button class="btn btn-lg btn-primary" [routerLink]="['/donate/', treesToDonate]" [disabled]="!treesCounted" i18n="@@DonateNow">
    Donate now
  </button>
</div>
<div class="text-center mx-auto my-3">
  <a class="in-link" [routerLink]="['/kuresel-isinma']" fragment="karbon-ayak-izi-telafi-etme-yontemleri">Karbon ayak izimi telafi etmek için başka neler yapabilirim?</a>
</div>
