  <!-- Signup Section -->
  <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 i18n="@@ContactContent" class="text-white mb-5">Contact us if you would like to contribute to our project.</h2>

          </div>
        </div>
      </div>
    </section>

<section class="contact-section bg-black">
  <div class="container">

    <div class="row">

      <div class="col-md-4 mb-3 mb-md-5 mx-auto">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="mailto: karbonsuzucus@groovytechs.co.uk">karbonsuzucus@groovytechs.co.uk</a>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- <div class="social d-flex justify-content-center">
      <a href="#" class="mx-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-github"></i>
      </a>
    </div> -->

  </div>
</section>
