<div class="inner container d-flex flex-column flex-md-row justify-content-between">
  <h2 (click)="onHomeClick()" class="masthead-brand">
    <div style="display: inline-flex">
    <fa-icon class="fa-2x ml-2" [icon]="faTree"></fa-icon>
    <fa-icon class="fa-sm" [icon]="faPlane" style="transform: rotate(-20deg); float: right"></fa-icon>
  </div>
    <span i18n="@@NavMainheader" class="masthead-brand__text">Offset My Carbon</span>
  </h2>
  <nav class="nav nav-masthead justify-content-center">
    <a i18n="@@NavHome" class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
    <a i18n="@@NavAbout" class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
    <a i18n="@@NavContact" class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>
  </nav>
</div>
