<nav class="navbar navbar-expand-lg navbar-light fixed-top" [ngClass]="{'navbar-shrink': !isHomePage}" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['/home']">
        <fa-icon class="fa-2x ml-2" [icon]="faTree"></fa-icon>
        <fa-icon class="fa-sm" [icon]="faPlane" style="transform: rotate(-20deg); float: right"></fa-icon>
    </a>
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['/home']"><span i18n="@@NavMainheader">karbonsuzucus</span><span style="color:rgb(38, 148, 38)">.com</span></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="this.locale === 'en-US'">
          <a i18n="@@NavHome" class="nav-link js-scroll-trigger" [routerLink]="['/flight-calculator']" routerLinkActive="active">Carbon Calculator</a>
        </li>
        <li class="nav-item" *ngIf="this.locale === 'tr'">
          <a i18n="@@NavHome" class="nav-link js-scroll-trigger" [routerLink]="['/ucus-hesapla']" routerLinkActive="active">Carbon Calculator</a>
        </li>
        <li class="nav-item" *ngIf="this.locale === 'tr'">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/kuresel-isinma']" routerLinkActive="active">Küresel Isınma</a>
        </li>
        <li class="nav-item" *ngIf="this.locale === 'en-US'">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/climate-change']" routerLinkActive="active">Climate Change</a>
        </li>
        <li class="nav-item">
          <a i18n="@@NavContact" class="nav-link js-scroll-trigger" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item" *ngIf="this.locale === 'tr'">
          <a class="nav-link js-scroll-trigger" href="https://en.karbonsuzucus.com" routerLinkActive="active">English</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
