<p>
  Thank your for your donation!
  Hundreds of trees are already donated using Offset My Carbon.
</p>

<!-- <p>
    Would you like to see how many trees are donated already?
</p>

<p class="lead mt-5">
    <a i18n="@@ContentStartHere" routerLink="/forest" class="btn btn-lg btn-secondary">View</a>
</p> -->

<p>
  Would you like to calculate a new flight?
</p>

<div class="text-center mx-auto my-3">
  <button type="button" class="btn btn-link" routerLink="/flight-calculator">Start again</button>
</div>
