<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-6 col-lg-6">
        <div class="featured-text-right text-center text-lg-left">
          <h4>Küresel Isınma nedir?</h4>
          <p class="text-black-50 mb-0">Çeşitli insan aktiviteleri sonucu atmosferdeki sera gazlarının artmasıyla ve bu
            sera gazlarının güneş ışınlarını soğurması sonucu dünya yüzeyinin sıcaklığının artmasıdır. Sera gazları
            arasında en yüksek oranı %80 ile karbondioksit oluşturur. </p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="">
      </div>
    </div>

  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 my-2 mx-auto">
        <ul class="list-unstyled text-white-50">
          <p class="lead">Küresel ısınma kanıtlanmış, bilimsel bir gerçektir.</p>
          <li>Küresel ısınma insan faaliyetleri sonucu suni olarak oluşan bir olgudur. Fosil yakıt yakılması ve orman
            alanlarındaki azalmanın direk bir sonucudur.</li>
          <li>Küresel ısınma bizim ve çocuklarımızın yaşamı süresince etkileneceği ve mücadele edeceği en büyük küresel
            problemdir. Doğal hayatı ve medeniyetimizi tehdit etmektedir.</li>
          <li>Küresel ısınma geriletilebilir ve etkileri azaltılabilir. Bunun için kurumsal ve kişisel olarak üretim ve
            tüketim alışkanlıklarımızı değiştirmemiz gerekecek.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-6 col-lg-6">
        <img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-signup.jpg" alt="">
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="featured-text text-center text-lg-left">
          <h4>Küresel iklim değişikliği nedir?</h4>
          <p class="text-black-50 mb-0">Fosil yakıtların yakılması, arazi kullanımı değişiklikleri, ormansızlaştırma ve sanayi süreçlerinin küresel ısınmayı kuvvetlendirmesi sonucunda iklimde oluşan değişiklikleri ifade etmektedir.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h4 class="text-white-50">Küresel ısınmanın ve bunun sonucu iklim değişikliğinin etkileri şimdiden
          görülmeye başlanmıştır.</h4>
        <ul class="list-unstyled text-white-50">
          <li>Dünya üzerinde bazı bölgelerde yağışlar artarken, bazı yerlerde aşırı sıcaklıklar ve kuraklık baş
            göstermeye başladı.</li>
          <li>Isınan okyanuslar fırtınalara neden oluyor.</li>
          <li>Buzullar gittikçe artan bir hızla eriyor ve deniz seviyeleri yükseliyor. Deniz seviyeleri yükselmeye
            devam ettikçe kıyılar ve verimli araziler sular altında kalacak ve bu durum dünyada açlık sorununa
            neden olacak.</li>
          <li>Denizlerde asitliğin artmasıyla deniz yaşamı gitgide azalıyor. Kutuplar ve mercan kayalıklarındaki
            canlı hayat tükenme tehdidi altında.</li>
          <li>İklim değişikliğinden etkilenen bazı hayvan türleri göçe başladılar. Sivrisinek, denizanası gibi
            bazı zararlı türler aşırı üremeye ve yayılmaya başladılar.</li>

          <li>Bilimsel araştırmalara göre, ülkemiz küresel ısınmanın zararlı sonuçlarını ilk ve en şiddetli şekilde
            yaşayacak ülkeler arasında.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Karbon Salınımı nedir?</h4>
              <p class="mb-0 text-white-50">Kömür, petrol ve doğal gaz gibi fosil yakıtlar yerkabuğundan çıkarılır ve
                ekolojik zaman süreçleri içinde yenilenebilir değildir. Bu yakıtlar tutuştuğunda karbondioksit (CO<sub>2</sub>)
                açığa çıkar. Buna karbon salınımı (emisyonu) denir. Sera gazları içinde en etkili olanı ve atmosferde en
                uzun süre birikeni karbondioksittir. Atmosfere salınan karbondioksit yüzyıllar boyunca orada kalabilir.
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Karbon Ayak İzi nedir?</h4>
              <p class="mb-0 text-white-50">
                Karbon ayak izi, her bir bireyin çeşitli günlük faaliyetleri sonucu dolaylı ve dolaysız olarak doğaya
                yayılmasına sebep olduğu karbondioksit miktarının toplamıdır. Ev, araba, alışveriş gibi günlük
                rutinlerin hepsinin karbon ayak izimize etkisi vardır. Fakat birçoğumuz için uçuşlarımız kişisel karbon
                salınımımızda en büyük paya sahiptir.
              </p>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Karbon salınımı ve ayak izinde Türkiye ne durumda?</h4>
              <p class="mb-0 text-white-50">Araştırmalara göre Türkiye’de kişi başı
                ortalama yıllık karbon ayak izi miktarı 4 tonun üzerindedir. Bu rakam da dünya ortalamasına yakındır.
                Bununla beraber karbon salınımı, 1990 seviyesine göre <strong>en çok artış gösteren ülke</strong> Türkiye’dir ve ülkemiz
                doğal kaynaklarını, kendini yenileyebilme hızından daha fazla tüketen ülkeler arasında yer alır.
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section text-center" id="karbon-ayak-izimi-kucultmek-icin-neler-yapabilirim">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h4 class="text-white">Karbon ayak izimi küçültmek için neler yapabilirim?</h4>
          <ul class="list-unstyled my-4 text-white-50">
            <li>İş seyahatleri ve tatil seyahatlerinde uçak kullanımınızı sınırlandırmaya çalışabilirsiniz.
              Sınırlandıramadığınız durumlarda ise <strong>karbon telafisi</strong>  yoluna gidebilirsiniz.</li>
            <li>Yenilenebilir yeşil enerji üreten ve kullanan enerji şirketlerinden hizmet almaya özen
              gösterebilirsiniz.</li>
            <li>Isınma için güneş enerjisini tercih edebilirsiniz.</li>
            <li>Günlük ulaşımınız için mümkün olduğunca toplu taşıma araçlarını tercih edebilir yada araba
              yolculuklarınızı
              başkalarıyla paylaşabilirsiniz.</li>
            <li>Mümkün olan yerlerde daha çok bisiklete binebilirsiniz.</li>
            <li>Şişe su kullanımınızı ve kırmızı et tüketiminizi azaltabilirsiniz. Et üretimi büyük miktarda metan gazı
              salınımına neden olur.</li>
            <li>Alışverişlerinizde lokal ürünleri tercih edebilirsiniz. Uzak mesafelerden taşınan ürünlerin karbon izi
              fazladır.</li>
            <li>Alışverişlerinizde tercih hakkınızı ambalajı az yada ambalajsız ürünlerden yana kullanabilirsiniz.</li>
            <li>Evinizde gereksiz elektrik tüketimini azaltabilir, yalıtımı arttırabilirsiniz.</li>
            <li>Geri dönüşüm yapabilirsiniz. Kullanmadığınız eşyaları tekrar kullanıma sokabilirsiniz.</li>
          </ul>
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5" id="ticari-ucuslarin-karbon-salinimina-etkisi">
        <div class="col-xl-6 col-lg-6">
          <img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-signup.jpg" alt="">
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="featured-text text-center text-lg-left">
            <h4>Ticari uçuşların karbon salınımına etkisi ne kadar?</h4>
            <p class="text-black-50 mb-0">Ulaşım %19 ile toplam karbon ayak izinde ikinci önemli paya sahiptir. Uçuş
              sektörünün ulaşım
              salınımındaki payı ise %12’dir ve hızla artmaktadır. Uçuş emisyonlarının %80’i uzun mesafe uçuşlarında
              salınır.
              Eğer iş ve tatil seyahatlerinizde hava yolunu kullanıyorsanız, <strong>karbon ayak izinizin büyük oranını bu
              uçuşlarınız oluşturuyor</strong> demektir.
              Örneğin Türkiye’den Amerika’ya yada Tayland’a gerçekleştireceğiniz bir seyahat ile sadece gidiş – dönüş
              uçak yolculuğunuz ortalama bir bireyin yıllık karbon ayak izi miktarına nerdeyse eşittir.
              Üstelik uçakların yaydığı sera gazları yüksek irtifalarda atmosfere salındığı için etkisi kat kat fazla
              olmaktadır.</p>
          </div>
        </div>
      </div>

            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5" id="karbon-ayak-izi-telafi-etme-yontemleri">
                <div class="col-xl-6 col-lg-6">
                    <div class="featured-text-right text-center text-lg-left">
                      <h4>Karbon ayak izimi telafi etmek için neler yapabilirim?</h4>
                      <p class="text-black-50 mb-0">Karbon telafisi, açığa çıkan salınımların yine eşdeğer bir CO<sub>2</sub> tasarrufu ile
                        karşılanmasıdır. Karbon miktarını dengelemenin veya azaltmanın en etkin yolu ağaç dikmek yada bağışlamak
                        ve ormanlık alanları korumaktır. <strong>Enerji tasarrufuna, yeşil enerjiye</strong> ve bu yöndeki çalışmalara ve
                        araştırmalara yatırım yapmak da diğer yöntemlerdir.</p>
                    </div>
                  </div>
              <div class="col-xl-6 col-lg-6">
                <img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="">
              </div>
            </div>

<!-- Featured Project Row -->
<div class="row align-items-center no-gutters mb-4 mb-lg-5">
  <div class="col-xl-6 col-lg-6">
    <img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-signup.jpg" alt="">
  </div>
  <div class="col-xl-6 col-lg-6" id="agac-dikmenin-kuresel-isinmaya-etkisi">
    <div class="featured-text text-center text-lg-left">
      <h4>Ağaç dikmenin küresel ısınmaya ne gibi bir etkisi var?</h4>
      <p class="text-black-50 mb-0">Ağaçlar fotosentez yoluyla karbondioksit gazını bünyesine hapseder ve organik
          maddelere dönüştürerek tutulmasını sağlar yani havadaki mevcut karbondioksiti içine çekip, karbonu
          emdikten sonra kalan oksijeni tekrar doğaya bırakır.
          Ağaçlar doğaya, canlı hayata ve insana diğer sayısız faydaları yanında, bu yolla atmosferdeki sera
          gazlarını emdikleri için, küresel ısınmanın etkilerini azaltma konusunda elimizdeki en güçlü
          yöntemlerden biridir. Kanıtlanmış ve doğal bir yöntemdir.</p>
          <p  class="text-black-50 mb-0">
            Bununla beraber, ağaç dikerek karbon ayak izinin azaltılması yada telafi edilmesiyle tek başına küresel
            ısınmanın yada atmosferdeki karbon artışının önüne geçileceği düşünülmemelidir. <em>Uzun vadede insanlığın
            önündeki tek seçenek üretim ve tüketim alışkanlıklarını değiştirmek suretiyle karbon salınımını radikal
            derecede azaltmak olacaktır.</em><p>
    </div>
  </div>
</div>

  </div>
</section>

<!-- About Section -->
<section id="yontem" class="about-section text-center" id="karbondioksit-salinimi-telafi-icin-gereken-agac-sayisi">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h3 class="text-white mb-4">Uçuşların karbondioksit salınımı ve telafi için gereken ağaç sayısı nasıl
          hesaplanıyor?</h3>
        <h4 class="text-white mb-4">Yöntem</h4>
        <p class="text-white-50">Uçuş kilometresi bakımından kg olarak CO<sub>2</sub> emisyon oranı hesaplaması karmaşık ve
          tartışmalı bir konu olsa da WWF’nin kullandığı 0.22 oranı diğer kaynakların ortalamasına yakındır ve bu sitede
          tercih edilmiştir. Bu rakam “radiative effect” olgusunu hesaba katar.</p>
          <p class="text-white-50">
            Business sınıfı uçuşlarda yolcu başına işgal edilen yer ve ortak alınımdaki sorumluluk ekonomi sınıfı
            üzerinden %50 fazla olarak hesaplanmıştır. Bu ortalama bir rakamdır ve ICAO’nun ve bazı başka hesaplama
            araçlarının oranıyla benzerlik gösterir.
          </p>
        <p class="text-white-50">Bir ağacın yaşamı boyunca bünyesinde 1 tona kadar karbondioksit gazına eş karbon
          tutabildiği varsayılır. karbonsuzucus.com hesaplamalarında Türkiye özelindeki dikilen ağaç tiplerini ve bu
          maksimum oranı yavaşlatıcı ve geriletici diğer etmenleri göze alarak, ağaç başına 400 kilogram olan ihtiyatlı
          bir rakam kullanmaktadır. Bu rakam Ege Orman Vakfı’nın hesaplamalarında kullandığı rakama yakındır.</p>
        <p class="text-white-50">Hesaplama sonunda çıkan ondalıklı ağaç sonuçları ise en yakın rakama yuvarlanır.</p>
        <p class="text-white-50">*Not: Hesaplama aracında kullanılan oranlar ve sabitler yeni araştırmalar ve veriler
          ışığında değişebilir. Zaman içinde güncellemeler olabilir.</p>
          <h4 class="text-white mb-4">Teknoloji</h4>
          <p class="text-white-50">
            karbonsuzucus.com Angular web geliştirme altyapısını kullanarak hazırlanmıştır.
            Çeşitli açık kod kütüphanelerinden faydalanır ve projenin kendisi de açık kodludur.
          </p>
          <p class="text-white-50">GitHub üzerinden kaynak koduna ulaşılabilir, hata bildirimi ve katkı yapılabilir.</p>
          <p class="text-white-50 mt-1"><a target="blank" href="https://github.com/eserkansozer/KarbonsuzUcus"><fa-icon class="fa-2x" [icon]="faGithub"></fa-icon></a></p>
        <h4 class="text-white mb-4">Kaynaklar</h4>
        <a class="d-block" href="http://www.karbonayakiziniziazaltin.com"
          target="blank">http://www.karbonayakiziniziazaltin.com</a>
        <a class="d-block" href="https://www.carbonindependent.org" target="blank">https://www.carbonindependent.org</a>
        <a class="d-block" href="https://www.wwf.org.uk" target="blank">https://www.wwf.org.uk</a>
        <a class="d-block" href="http://www.carbon-calculator.org.uk"
          target="blank">http://www.carbon-calculator.org.uk</a>
        <a class="d-block" href="http://www.nationalgeographic.com" target="blank">http://www.nationalgeographic.com</a>
        <a class="d-block" href="http://karbonayakizi.com" target="blank">http://karbonayakizi.com</a>
        <a class="d-block" href="https://climatecare.org" target="blank">https://climatecare.org</a>
        <a class="d-block" href="http://www.chooseclimate.org" target="blank">http://www.chooseclimate.org</a>
        <a class="d-block" href="https://www.icao.int" target="blank">https://www.icao.int</a>
        <a class="d-block" href="https://friendsoftheearth.uk" target="blank">https://friendsoftheearth.uk</a>
        <a class="d-block" href="https://www.greenpeace.org.uk" target="blank">https://www.greenpeace.org.uk</a>
      </div>
    </div>
  </div>
</section>
