<carousel [noPause]="false" [interval]="500000" >
  <slide style="padding:100px">
    <div>
      <h1 i18n="@@ContentHeader" class="cover-heading">Aviation is the one of the biggest contributors to carbon emissions</h1>
      <p i18n="@@ContentText" class="lead">You can simply calculate your carbon footprint of your flights and offset them using our simple tool.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/5.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/6.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
<p i18n="@@Co2Content">
  CO2 is bad
</p>
