<section id="calcWrapper" class="about-section text-center pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-white" id="pageWrapper">

             <div id="page1" class="mx-auto h-100 text-center mt-5 pb-5" [hidden]="activePage != 'page1'">
                <app-select-flights (distanceRefresh)="onRefreshDistance()" (distanceSubmit)="onDistanceSubmitted()">
                </app-select-flights>
              </div>

              <div id="page2" class="mx-auto h-100 text-center pb-5" [hidden]="activePage != 'page2'">
                <app-calculate-emission [distanceInKm]="distanceInKm" (emissionRefresh)="onRefreshEmission()"
                  (emissionSubmit)="onEmissionSubmitted()" (reset)="onReset()"></app-calculate-emission>
              </div>

              <div id="page3" class="mx-auto h-100 pb-5" [hidden]="activePage != 'page3'">
                <app-calculate-trees [emission]="emission" (treesSubmit)="onTreesSubmitted()" (reset)="onReset()">
                </app-calculate-trees>
              </div>
          </div>
      </div>
    </div>
  </section>
