     /*
 * Cover
 */


/* .cover-container {
  max-width: 50em;
} */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
nav .fa-plane{

  color: green
}

     .fa-tree{
        color: greenyellow
      }

      div.your-tree, div.other-trees {
        display: inline
      }
      .your-tree .fa-tree{
        color:greenyellow
      }

      .footer {
        bottom: 0;
    }

    .border{
      border-style: dashed!important;
    }

    .form-check-input {
      margin-left: 0.40rem;
      margin-top: 0.35rem;
    }

    .gray{
      color: gray;
    }
